
h1 {padding-top:30px;}

body
{background-color: #f4eee2;
text-decoration:none;
color:black;}

div#menu
{
position: fixed;
top: 0px;
text-align: center;
width: 100%;
background-color: tan;


}

ul#interviewList li a {text-decoration:none; color:maroon;}

ul#menuList li a {text-decoration:none; color:black;}

ul#menuList
{
  list-style: none;
position: relative;
color:black;
}

ul#menuList li
{
    display: inline;
    padding-right:15px;
    padding-left:15px;
    font-size: 125%;
    text-decoration:none;
    color:black
}

ul#menuList li a:hover{color:white;}

div#description
{
position: fixed;
top: 100px;
text-align: center;
width: 100%;
background-color: #f4eee2;

}

